SERVICE_NAME=tw.tools.whatsapp
MODE=dev
HOST=0.0.0.0
PORT=8000
POD_NAME=whatsapp-pod-1

COUNT_USE_FOR_RELOAD=1000
SESSION_TIMEOUT=600
MAX_FAILURES_IN_ROW=30

HEALTH_CHECK_FILE=/tmp/app_alive.pid
HEALTH_CHECK_PERIOD=60
SECRETE_KEY=IU2rcG-Pj9F33_T3ldZxeMFcub4JsKUSHtzmBXPpQYQ=
VALIDATOR_URL=http://validator-service/api/v1/validate
BAILEYS_BRIDGE_URL=http://localhost:3000
BASE_URL=http://localhost:8000